/* 0 general param */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    margin: 0px;
    letter-spacing: 0.05em;
    background-color: #212121;

}

h1{
    color: #fff;
}
li{
    color:#fff;
}

.copyright {
    background-color: #212121;
}

.bg-primary {
    background-color: #1abc9c !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.navbar-brand {
    color: #fff;
}

:root {
    --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
    --lightblue: #3d9dea;
    --darkblue: #4a4eee;
    --text-color: #d5e1ef;
}
/* end general param */



/* 1 HOME_SECTION USER */

#home_vasitos_a{
    text-decoration: none;
    color: #fff;
    overflow: hidden;
  position: relative;
  display: inline-block;
}

#home_vasitos_a::before,
#home_vasitos_a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
#home_vasitos_a::before {
  background-color: #9972DB;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
#home_vasitos_a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #9972DB;
}

#home_vasitos_a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#home_vasitos_a:hover::after {
  transform: translate3d(0, 0, 0);
}

#home_vasitos_a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#home_vasitos_a:hover span {
  transform: translate3d(-200%, 0, 0);
}

#home_wines_a{
    text-decoration: none;
    color: #fff;
    overflow: hidden;
  position: relative;
  display: inline-block;
}

#home_wines_a::before,
#home_wines_a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
#home_wines_a::before {
  background-color: #9972DB;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
#home_wines_a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #9972DB;
}

#home_wines_a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#home_wines_a:hover::after {
  transform: translate3d(0, 0, 0);
}

#home_wines_a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#home_wines_a:hover span {
  transform: translate3d(-200%, 0, 0);
}


.content_section_1 {
    background-color: #5F438F;
}

.content_section_1 > article {
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 480px;
}

.row{
    display: flex;
    flex-direction: row;
}

.header_section_1 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.div_p_section_1 {
    padding-top: 48px;
    padding-bottom: 24px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
.p_section_titles {
    margin-bottom: 8px;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}
.h1_section_1 {
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    font-size: calc(24px + 8 * ((100vw - 320px) / 160));
    color: #fff;
}

#a_home {
    color: #fff;
}
#a_login {
    color: #fff;
}
#a_register {
    color: #fff;
}
#navbar_header {
    background: #000000;
}

/* END  HOME_SECTION USER */

/* START  LOGIN */
h1 {
    font-size: 23px;
}
.form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
}
.form .control {
    margin: 0 0 24px;
    color: #fff;
}

.form .control input {
    width: 100%;
    padding: 14px 16px;
    border: 0;
    background: transparent;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}
.form .control input:hover,
.form .control input:focus {
    outline: none;
    border: 0;
}
.form .btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
}
.form-check>label{
    color: #fff;
}
.block-cube {
    position: relative;
}
.block-cube .bg-top {
    position: absolute;
    height: 10px;
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(52, 9, 121, 1) 37%,
        rgba(0, 212, 255, 1) 94%
    );
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
}
.block-cube .bg-top .bg-inner {
    bottom: 0;
}
.block-cube .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #020024;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(52, 9, 121, 1) 37%,
        rgba(0, 212, 255, 1) 94%
    );
}
.block-cube .bg-right {
    position: absolute;
    background: #020024;
    background: rgba(0, 212, 255, 1);
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
    left: 0;
}
.block-cube .bg .bg-inner {
    transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
    background: #212121;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}
.block-cube .text {
    position: relative;
    z-index: 2;
}
.block-cube.block-input input {
    position: relative;
    z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner,
.block-cube.block-input input:focus ~ .bg-top .bg-inner,
.block-cube.block-input input:focus ~ .bg-inner .bg-inner {
    top: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
    transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:hover .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:focus .bg,
.block-cube.block-input:hover .bg {
    background: rgba(255, 255, 255, 0.8);
}
.block-cube.block-cube-hover:focus .bg .bg-inner,
.block-cube.block-cube-hover:hover .bg .bg-inner {
    top: 100%;
}
/* END  LOGIN */

